html, body 
        {
            width:100%;
            height:100%;
            margin:0;
            overflow:hidden

        }
        
#parent {
   margin-left: 100px;
   margin-top:20px;
   overflow:auto;
   height:700px;
   width: auto;
   
}

#buttons{
 position: absolute;
    right: 670px;   
}
